<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

<div class="footer" th:fragment="footer">
	<footer>
		<div class="inner">
			<div class="logo-box">
				<img src="https://flyasiana.com/C/pc/image/common/logo_header.png" alt="" class="logo" />
			</div>
  
		    <ul class="menu">
		    	<li th:text="#{introductionOfInternetDutyFreeShop}">인터넷면세점 소개</a></li>
		    	<li th:text="#{termsOfUse}">이용약관</a></li>
		    	<li th:text="#{privacyPolicy}">개인정보 처리방침</a></li>
		    	<li th:text="#{privacyGuidelines}">개인정보 보호지침</a></li>
		    	<li th:text="#{rejectionOfUnauthorizedEmailCollection}">이메일무단수집거부</a></li>
		    </ul>
	    
		    <div class="info">
		    	<span th:text="#{footer1}">기내 구입안내 및 고객 서비스센터 : 080-669-3434 (해외전용 : 82-2-2669-3434) | dutyfree@flyasiana.com | 운영시간 : 8:00~12:00, 13:00~17:00(월~금)</span><br>
		    	<span th:text="#{footer2}">아시아나항공(주) 대표이사 직무대행 원유석 | 서울시 강서구 오정로 443-83(오쇠동) | 사업자등록번호 104-81-17480 | 통신판매업 신고번호 강서 제 16-2822호</span><br>
		    	<span th:text="#{footer3}">호스팅 제공자 : (주)아시아나IDT | 개인정보 보호 책임자 : 캐빈서비스기획 상무 김경태</span>
		    </div>
	
	    	<p class="copyright">
	      		&copy; <span class="this-year"></span> COPYRIGHTⓒ2014 ASIANA AIRLINES. ALL RIGHTS RESERVED.
	    	</p>
    	</div>
	</footer>
</div>
</html>